.oompa-list {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

.ind-oompa {
  padding: 5px;
  flex: 1 0 21%;
}
.oompa-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0vw;
  padding-bottom: 3vh;
  color: rgb(54, 54, 54);
}
.oompa-name {
  font-weight: bolder;
}
.header {
  margin: 5vw;
  height: 5vh;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-color: rgb(181, 181, 181);
}

form {
  position: absolute;
  right: 5vw;
}

.details-home {
  position: absolute;
  left: 5vw;
}
.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-one {
  margin-top: 7vh;
  font-weight: bolder;
  font-size: x-large;
}
.heading-two {
  font-weight: 400;
  font-size: larger;
  color: dimgray;
  margin-bottom: 3vh;
}

.details-section {
  display: flex;
  flex-direction: row;
  padding-top: 5vh;
  padding-left: 15vw;
  /* padding: 5vw; */
}
.details-image {
  width: 34vw;
}
.details-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2vw;
  padding-right: 15vw;
}
.details-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 3vh;
}
.details-name {
  font-weight: bolder;
  font-size: x-large;
}

.search-icon {
  position: absolute;
  top: 4px;
  right: 0.5vw;
  width: 15px;
}
